%article.row[edition]
  .description.span7
    = raw(edition.rendered_body)
    
    - if current_page?(controller: 'editions', action: 'show')
      %aside.row
        .span3
          %h3 Locatie
          %p
            %em= edition.location
        .span4
          = gmaps(map_options: { container_class: 'google-map-wrapper', class: 'google-map', id: "edition_map_#{edition.id}", type: 'HYBRID', auto_zoom: false, zoom: 17 }, markers: { data: edition.to_gmaps4rails })
    - else
      .row
        .span12
          = link_to 'Details', edition, class: 'btn'
    
    - if can? :manage, edition
      .row
        .span7
          .well
            = link_to 'Aanpassen', [:edit, edition], class: 'btn'