%h2 Nieuwe editie

= simple_form_for @edition do |f|

  = f.input :starts_at,   input_html: { class: 'span1' }
  = f.input :description, input_html: { class: 'span6', rows: 10 }

  = f.button :submit, 'Opslaan', class: 'btn btn-primary'
  = link_to 'Sluiten', :back, class: 'btn'