.row
  .span6.offset3
    %h1
      = link_to :root do
        Groningen
        %span>.rb
  .span3.social
    - if current_user
      %p
        = "Welkom #{current_user.name}!"
        = link_to 'Uitloggen', signout_path
    - else
      = link_to 'Login met Github', '/auth/github', class: 'btn btn-inverse'