%header.row
  .span2
    %h1
      = link_to :root do
        Groningen
        %span.rb>.rb
  %nav.span10>
    - if current_user
      - if can? :manage, :all
        = link_to "Nieuwe editie", [:new, :edition]
      = link_to 'Account',    :account
      = link_to 'Uitloggen',  :signout
    - else
      = link_to 'Inloggen met Github', '/auth/github'