!!!
%html
  %head
    %title Groningen.rb
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags

  %body
    %section.container
      
      = render 'header'
      = render 'flash'
      %section.content= yield
      = render 'footer'
      
      = render 'fork_me'